NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://localhost:27017/express_backend

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
